#data {
    width:100%;
    max-width:500px; 
    padding: 5px;
    margin-bottom: 10px;
}

#QR_code_image {
    margin-bottom: 10px;
}

#download_QR_code_image {
    color: white;
    text-decoration: none;
}

#QRcanvas {
    border: 1px solid black;
}